
h1{

    color: white;
}
.dialog{
    overflow-x: hidden;
  
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
    border: 1px solid red;
    padding: 20px;
    width: 500px;
    background: #2E2E2E;
    display: block;
   
     max-height: 220px; 
}

.content{
    padding: 5px;
    overflow: hidden;
}

.btn-danger{
    z-index: 100;
    display: block;
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
mat-form-field{
    
    margin:10px;
    
}
 
button{
    border: 1px solid wheat;
}
.buttons{

    padding: 5px;
} 