
h1{

    border: 1px solid black;
}
.dialog{
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid red;
    padding: 20px;
    width: 500px;
    margin-top: -100px;
    display: block;
    background: white;
    max-height: 400px;
}

.content{
    padding: 5px;
    overflow: hidden;
}

.btn-danger{

    border: 1px solid black;
    z-index: 100;
    display: block;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-left: -10;
}
mat-form-field{
    padding-top: 5px;
    margin:10px;
    border: 1px solid black;
}

.buttons{
    padding-bottom: 10px;
    padding-left: 10px;
}